
<html>
<head>
<title>The page cannot be found</title>
<meta name="KEYWORDS" content=""/>
<meta name="DESCRIPTION" content=""/>
<meta name="MS.LOCALE" content="EN-US"/>
<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1"/>
<meta name="DTC_TEMPLATE" content="TEMPLATE="/>

		          <link rel="stylesheet" href="/windowsxp/css.asp?template=EP" type="text/css" />
          

     <meta http-equiv="PICS-Label" CONTENT='(PICS-1.1 "http://www.rsac.org/ratingsv01.html" l comment "RSACi North America Server" by "inet@microsoft.com" r (n 0 s 0 v 0 l 0))' />
     <script src="/products/shared/global.js" type="text/javascript"></script>
     
<link rel="stylesheet" type="text/css" href="/library/flyoutmenu/default.css" />


	
	<script type="text/javascript"><!--
	
	sImgDefaultArrow = "/products/shared/images/imgArrwUP.gif";
	sImgExpandedArrow = "/products/shared/images/imgArrwDwn.gif";

	if (sImgDefaultArrow == ""){
		sImgDefaultArrow = "/products/shared/images/arrow_default.gif";
	}
	if (sImgExpandedArrow == ""){
		sImgExpandedArrow = "/products/shared/images/arrow_expand.gif";
	}
	
	//-->
	</script>
   
<script type="text/javascript" language="JavaScript" src="/library/toolbar/en-us/404.js"></script>
</head>
<body bgcolor="#ffffff" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0">	


          <span id="donotprint">
<!-- Start: ToolBar V2.0-->
<script type="text/javascript" language="JavaScript" src="/library/toolbar/toolbar.js"></script>
<script type="text/javascript" language="JavaScript" src="/library/toolbar/en-us/global.js"></script>
<script type="text/javascript" language="JavaScript" src="/products/shared/toolbar_windowsxp.js"></script>
<!-- Start: ToolBar for down-level browsers-->
<span id="TBDownLevelDiv">
	<table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#6487dc">
		<tr>
			<td bgcolor="#6487dc" valign="top" width="250" rowspan="2"><a href="/windowsxp/" target="_top"><img src="/products/shared/images/bnrWinXP.gif" alt="Microsoft Windows XP Home" border="0" /></a></td>
			<td bgcolor="#6487dc" valign="top" height="20" width="19" align="right"><img src="/library/toolbar/images/curve.gif" /></td>
			<td bgcolor="#000000" valign="middle" height="20" align="right" nowrap colspan="2"><font color="#ffffff" face="Verdana, Arial, Helvetica" size="1">
					&nbsp;&nbsp;<a style="color:#ffffff;text-decoration:none;" href="http://www.microsoft.com/products/" target="_top"><font color="#ffffff">All Products</font></a>&nbsp;&nbsp;<font color="#ffffff">|</font>
					&nbsp;&nbsp;<a style="color:#ffffff;text-decoration:none;" href="http://www.microsoft.com/support/" target="_top"><font color="#ffffff">Support</font></a>&nbsp;&nbsp;<font color="#ffffff">|</font>
					&nbsp;&nbsp;<a style="color:#ffffff;text-decoration:none;" href="http://search.microsoft.com/" target="_top"><font color="#ffffff">Search</font></a>&nbsp;&nbsp;<font color="#ffffff">|</font>
					&nbsp;&nbsp;<a style="color:#ffffff;text-decoration:none;" href="http://www.microsoft.com/" target="_top"><font color="#ffffff">microsoft.com Guide</font></a>&nbsp;&nbsp;</font></td>
		</tr>
		<tr>
			<td bgcolor="#6487dc" valign="top" height="40" width="19"><img src="/library/Images/Gifs/General/Trans.gif" width="1" height="1" border="0" alt></td>
			<td valign="top" height="40" align="right" nowrap colspan="2"><a href="/isapi/gomscom.asp?target=/" target="_top"><img src="/library/toolbar/images/mslogo6487DC.gif" width="112" height="40" alt="microsoft.com home" border="0"></a></td>
		</tr>
		<tr>
	<!-- Start: Local menus -->
		<td bgcolor="#6487dc" height="20" VALIGN="MIDDLE" NOWRAP COLSPAN="4">
			<font color="#ffffff" class="fontSize1"><b>
				&nbsp;&nbsp;<a style="color:#ffffff;text-decoration:none;" href="/windowsxp/" target="_top"><font color="#ffffff">Microsoft Windows XP Home</font></a>&nbsp;&nbsp;<font color="#ffffff">|</font>
		
			</b></font>
		</td>
	<!-- End: Local menus -->
		</tr>
	</table>
</span>
<!-- End: ToolBar for old browsers-->

<script language="JavaScript" type="text/javascript">
<!--// Hide from old browsers

var ToolBar_Supported = ToolBar_Supported;
if (ToolBar_Supported != null && ToolBar_Supported == true && (navigator.platform=="Win32"))
{
	TBDownLevelDiv.style.display ='none';
	drawToolbar();
	var fBrowserOK = true;
}

//-->
</script>
<!-- End: ToolBar V2.0-->



</span>
          <a name="top"></a>
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tr>
				<td bgcolor="#ffffff" height="1"><img src="/products/shared/images/ts.gif" height="1" width="1" /></td>
			</tr>
		</table>
          <table cellpadding="0" cellspacing="0" border="0" width="100%">
               <tr valign="top">
                    <td valign="top">
                         <table cellpadding="0" cellspacing="0" border="0" width="100%">
                              <tr valign="top">
                                   <td width="178" valign="top" id="donotprint" > 

									<!-- start leftnav And search code -->
										<table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#6487dc">
											<tr height="38">
												<td bgcolor="#6487dc" align="center">
													<!-- quick search-->
													<table cellpadding="0" cellspacing="0" border="0" width="179">
													
													<form action="http://search.microsoft.com/us/products/windows/windowsxp/default.asp" method="GET" id="form1" name="form1">
													
														<tr>
															<td><img src="/products/shared/images/Trans.gif" height="1" width="5"></td>
															<td>
														<!--[if IE ]><span class="fontSize1" style="color:#ffffff">Search This Site</span><br>														<input type="hidden" name="IntCat" value="0" />														<input type="hidden" name="Boolean" value="ALL" />																													<input type="hidden" name="Nq" value="new" />																													<input type="text" name="qu" size="14" maxlength="255" style="height:20 px; width: 125 px;" />																													<img src="/products/shared/images/trans.gif" height="1" width="2" border="0" />															<input alt="go" type="submit" name="finish" value="Go" class="btnSearch">														<![endif]-->
														<![if ! ie ]>
															<span class="fontSize1" style="color:#ffffff">Search This Site<br>
															<input type="HIDDEN" name="IntCat" value="0" />
															<input type="HIDDEN" name="Boolean" value="ALL" />
															<input type="HIDDEN" name="Nq" value="NEW" />
															<input type="TEXT" name="qu" size="10" maxlength="255" />
															<input alt="Go" type="SUBMIT" name="FINISH" value="Go" />
															</span>
														<![endif]>
														</td>
														</tr>
										      		</form>
													</table>
													<!--end quick search -->
												</td>
												<td width="1" bgcolor="#6487dc"><img src="/products/shared/images/Trans.gif" alt height="0" width="1" border="0"></td>
											</tr>
											<tr>
												<td>
													<table cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="#6487dc">
														<tr>
															<td><img src="/products/shared/images/Trans.gif" height="1" width="3"></td>
															<td VALIGN="TOP" class="AdvSearch"><a HREF="http://search.microsoft.com/us/products/windows/windowsxp/default.asp?IntCat=0">Advanced Search</a></td>
														</tr>
													</table>
												</td>
											</tr>
										</table>
										<table border="0" cellpadding="0" cellspacing="0" width="100%" onmouseover="if(document.readyState=='complete'&amp;&amp;fBrowserOK)delayRemove();" onmouseout="if (document.readyState=='complete'&amp;&amp;fBrowserOK)cancelDelay();">
										<tr>
										<td bgcolor="#6487dc"><img src="/products/shared/images/Trans.gif" alt height="9" width="179"></td>
										<td width="1" bgcolor="#6487dc"><img src="/products/shared/images/Trans.gif" alt height="0" width="1" border="0"></td>
										</tr>
										</table>

										<table cellpadding="0" cellspacing="0" border="0" width="100%">
										    <tr>
										         <td>
										         
<table class="flyoutMenu" menudata="/windowsxp/inc/MnpXmlDataGen.asp?subroot=404.asp" width="180" cellpadding="2" cellspacing="0" border="0" >
	<tr>
		<td>

			<table width="175" cellpadding="0" cellspacing="0" border="0">
				<tr>
				
					<td class="flyoutLink" ><a href="/windowsxp/default.asp">Windows XP</a></td>
				
				</tr>
			</table>

			<table width="175" cellpadding="0" cellspacing="0" border="0">
				<tr>
				
					<td class="flyoutLink" ><a href="/windowsxp/pro/default.asp">Windows XP Professional</a></td>
				
				</tr>
			</table>

			<table width="175" cellpadding="0" cellspacing="0" border="0">
				<tr>
				
					<td class="flyoutLink" ><a href="/windowsxp/home/default.asp">Windows XP Home Edition</a></td>
				
				</tr>
			</table>

		</td>
	</tr>
</table>
<table class="flyoutMenu" menudata="/windowsxp/inc/MnpXmlDataGen.asp" width="180" cellpadding="2" cellspacing="0" border="0" >
	<tr>
		<td>

			<table width="175" cellpadding="0" cellspacing="0" border="0">
				<tr>
				
					<td class="flyoutLink" ><a href="/windowsxp/expertzone/default.asp">Expert Zone Community</a></td>
				
				</tr>
			</table>

		</td>
	</tr>
</table>
<table class="flyoutMenu" menudata="/windowsxp/inc/MnpXmlDataGen.asp" width="180" cellpadding="2" cellspacing="0" border="0" >
	<tr>
		<td>

			<table width="175" cellpadding="0" cellspacing="0" border="0">
				<tr>
				
					<td class="flyoutLink" ><a href="/windowsxp/windowsfamily.asp">Windows Family</a></td>
				
				</tr>
			</table>

			<table width="175" cellpadding="0" cellspacing="0" border="0">
				<tr>
				
					<td class="flyoutLink" ><a href="http://go.microsoft.com/fwlink/?LinkId=374">Windows Catalog</a></td>
				
				</tr>
			</table>

			<table width="175" cellpadding="0" cellspacing="0" border="0">
				<tr>
				
					<td class="flyoutLink" ><a href="http://windowsupdate.microsoft.com">Windows Update</a></td>
				
				</tr>
			</table>
			
		</td>
	</tr>
</table>

												</td>
												</tr>
											</table>
										<!-- end leftnav And search code -->
									<table cellpadding="0" cellspacing="0" border="0" width="100%">
									    <tr>
									         <td><br>

     <!-- -->
<!-- Below LeftNav Area START -->
<!-- Below LeftNav Area END -->
		
                                                  </td>
                                             </tr>
                                        </table>
                                   </td>
                                   <td width="100%"> 
								<table cellpadding="20" cellspacing="0" border="0" width="100%">
                                             <tr>
                                                  <td style="padding: 11px 20px 20px 20px;">
<!-- -->
<!-- -->



<!-- Floating SideBar Area START -->
<!-- Floating SideBar Area END -->




<!-- Main Content Area START -->



    <TABLE WIDTH=50% BORDER=0 CELLPADDING=3 CELLSPACING=2>
    <TR>
      <TD id="tableProps" valign="top" align="left"><img id="pagerrorImg" SRC="/products/shared/images/pagerror.gif" width="25" height="33"></TD>
      <TD id="tableProps" align="left" valign="top">
	       <h1 id="errortype" style="COLOR: black; FONT: 13pt/15pt verdana">
		   <!--Problem--><ID id="errorText">The page cannot be found</ID>
		   </h1>
	  </TD>
    </TR></TABLE>

<TABLE WIDTH=100% BORDER=0 CELLPADDING=3 CELLSPACING=2>
	<TR><TD>
<TABLE BORDER=0 CELLPADDING=0 CELLSPACING=5>
    <TR>
      <TD id="tablePropsWidth">
	  	  <font style="COLOR: black; FONT: 8pt/11pt verdana">
		  		The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.
		  </font>
	  </TD>
    </TR>
    <TR>
      <TD id="tablePropsWidth"><table CELLPADDING=0 CELLSPACING=0 BORDER=0 WIDTH="100%"><tr><td BGCOLOR="#6699cc"><IMG height=1 src="/products/shared/images/ts.gif"></td></tr></table></TD>
    </TR>
    <TR>
      <TD  class="small" id="tablePropsWidth">
	  	  
	  	  		<UL TYPE="square" COMPACT ALIGN="left"><font style="COLOR: black; FONT: 8pt/11pt verdana">
					<LI ID="list1">Click the Refresh button&nbsp;<img alt="refresh" src="/products/shared/images/refresh.gif" HSPACE="5" WIDTH="13" HEIGHT="16">in your browser window to try the page again.<BR><BR></LI>
					<LI ID="list1">If you typed the page address in the Address bar, make sure that it is spelled correctly.<BR><BR></LI>
					<LI ID="list2">Open the <a HREF="/windowsxp/"> Windows XP home page</a>, and then look for the information you want.<BR><BR></LI>
					<!--<LI ID="list3">Go to the <A href="/windows2000/downloads/default.asp"> download area</a>&nbsp;to download Windows features and updates.<BR><BR></LI>-->
					<LI ID="list4">Click the <a href="javascript:history.back(1)"><img valign = "bottom" border="0" src="/products/shared/images/back.gif" WIDTH="12" HEIGHT="16">Back</a> button to try another link.</LI></font>
				</UL>
	  </TD>
    </TR>
    
    <TR>
      <TD id="tablePropsWidth"><table CELLPADDING=0 CELLSPACING=0 BORDER=0 WIDTH="100%"><tr><td BGCOLOR="#6699cc"><IMG height=1 src="/products/shared/images/ts.gif"></td></tr></table></TD>
    </TR>
     
</TABLE>

</TD></TR>
</TABLE>



<!-- Main Content Area END -->




<!-- Static SideBar Area START -->
<!-- Static SideBar Area END -->

										</td>
                                             </tr>
                                        </table>
     
                                   </td> 
                              </tr>
                         </table>
                    </td>
               </tr>
               <tr valign="top">
                    <td>
                         <table border="0" cellpadding="0" cellspacing="0" width="100%">
                              <tr>
                                   <td width="100%">
                                        <span id="donotprint">
	<span id="pgFooter">

		<table cellpadding="0" cellspacing="0" width="100%" height="20" border="0" class="FooterBranding">
			<tr>
				<td align="left">
					<table cellpadding="0" cellspacing="0" border="0" height="100%">
						<tr class="MNPFooterRow1">
							<td width="10">&nbsp;&nbsp;</td>

							<td nowrap><a href="http://register.microsoft.com/contactus30/contactus.asp?domain=windows&lcid=1033&cu=http://register.microsoft.com/contactus30/contactus.asp?domain=windows" target="_top">Contact Us</a></td>
							<td width="10">&nbsp;&nbsp;</td>

						<script language="javascript"  type="text/javascript">
							var sItemURL = "mailto:?subject=A link from Microsoft&body=This link is from the Microsoft Windows XP Web site" + " "  + top.parent.location.href
							document.write('<td nowrap><a href="' + sItemURL + '"  target=>E-Mail This Page</a></td>')
							document.write ('<td>&nbsp;&nbsp;</td>')
						</script>
	
							<td nowrap><a href="/windowsxp/newsletters.asp" target="_top">Free Newsletters</a></td>
							<td width="10">&nbsp;&nbsp;</td>

						</tr>
					</table>
				</td>
			</tr>
		</table>

		<table cellpadding="0" cellspacing="0" width="100%" height="30" border="0" class="FooterBranding">
			<tr>
				<td align="left">
					<table cellpadding="0" cellspacing="0" border="0" height="100%">
						<tr class="MNPFooterRow2">
							<td width="10">&nbsp;&nbsp;</td>

							<td nowrap><a href="/info/cpyright.htm" target="_top">© 2001 Microsoft Corporation. All rights reserved.  Terms of Use.</a></td>
							<td width="10">&nbsp;&nbsp;</td>

							<td nowrap><a href="/info/privacy.htm" target="_top">Privacy Statement</a></td>
							<td width="10">&nbsp;&nbsp;</td>

							<td nowrap><a href="/enable/" target="_top">Accessibility</a></td>
							<td width="10">&nbsp;&nbsp;</td>

						</tr>
					</table>
				</td>
			</tr>
		</table>

	</span>
</span>
                                   </td>
                              </tr>
                         </table>
                    </td>
               </tr>
          </table>     
     

</body>
</html>
<!--
     FILE ARCHIVED ON 05:31:16 Oct 30, 2001 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 14:26:25 Jan 26, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
-->
<!--
playback timings (ms):
  captures_list: 0.521
  exclusion.robots: 0.017
  exclusion.robots.policy: 0.007
  esindex: 0.009
  cdx.remote: 6.257
  LoadShardBlock: 71.98 (3)
  PetaboxLoader3.datanode: 91.326 (4)
  load_resource: 113.23
  PetaboxLoader3.resolve: 61.355
-->